@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: 400;
  src: local('Circular Std Book'),
    url('../fonts/CircularStd-Book.woff2') format('woff2'),
    url('../fonts/CircularStd-Book.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 400px;
  min-height: 100%;
  font-family: 'Circular Std Book', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #00081f;
  background-color: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
a,
span {
  color: #000C2D;
  text-decoration: none;
  overflow-wrap: break-word;
}


/* header */

header {
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  margin: 24px;
}

ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 32px;
  margin: 24px;
  justify-content: space-around;
}

li {
  display: inline-block;
}

.menu__item__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.menu__item__border {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2F70FE;
  line-height: 20px;
  width: 136px;
  height: 48px;
  border: 1px solid;
}


/* section one */

.section__one {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 528px;
  background: #2F70FE;
  padding-top: 80px;
  padding-bottom: 80px;
}


.frame__6 {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 800px;
  min-height: 288px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 800px;
  min-height: 200px;
}

.hero__text__title {
  max-width: 624px;
  min-height: 128px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.hero__text__title__title_bottom {
  max-width: 608px;
  min-height: 64px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.text_black_frame {
  width: 160px;
  height: 56px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  padding: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
}

.wrapper {
  position: absolute;
  max-width: 1200px;
  max-height: 368px;
  height: 100%;
  width: 100%;
  top: 300px;
}

.partner__left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.partner__right {
  position: absolute;
  right: 0px;
  top: 0px;
  mix-blend-mode: luminosity;
}


/* section two */

.section__two {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 496px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: rgba(0, 255, 132, 0.06);
}

.list__shell__grow {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.02em;
  padding-bottom: 40px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.frame__92 {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 52px;
  max-width: 824px;
  min-height: 176px;
}

.frame__in__92 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 412px;
}

.plane__text {
  text-align: center;
  letter-spacing: 0.01em;
}

.section__three {
  display: grid;
  grid-template-columns: minmax(400px, 600px) minmax(400px, 600px);
  margin: auto;
  max-width: 1000px;
  min-height: 2000px;
  gap: 52px;
  padding-top: 52px;
  padding-bottom: 52px;
}

.text__in__frame__700 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #181818;
}

[class^="grid"] {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 412px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.grid1,
.grid5,
.grid6,
.grid7,
.grid9 {
  align-self: center;
  justify-self: center;
}

.grid2 {
  justify-self: end;
}

.grid3 {
  align-self: center;
}

.grid4,
.grid8 {
  align-self: center;
  justify-self: end;
}


.grid10 {
  align-self: end;
  justify-self: center;
}

.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #2F70FE;
}

/* footer */

footer {
  padding: 88px 16px;
  min-height: 408px;
  background: black;
  color: white;
}

.footer_nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 128px;
}

.footer_nav_item {
  display: flex;
  flex-direction: column;

  gap: 24px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.footer_nav_item_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}


.footer_nav_item_div>a {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
}

.copyright {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  align-items: center;
  gap: 408px;
  justify-content: center;
  margin-top: 60px;
}

/* sizing  */

@media (max-width: 920px) {
  .wrapper {
    display: none;
  }

  .footer_nav {
    gap: 52px;

  }

  footer {
    padding-bottom: 52px;
  }

  .copyright {
    gap: 100px;
  }
}

@media (max-width: 832px) {
  .section__three {
    position: relative;
    grid-template-columns: minmax(400px, 576px);
  }

  [class^="grid"] {
    align-self: center;
    justify-self: center;
  }

  .grid1 {
    order: 2;
  }

  .grid2 {
    order: 1;
  }

  .grid3 {
    order: 3;
  }

  .grid4 {
    order: 4;
  }

  .grid5 {
    order: 6;
  }

  .grid6 {
    order: 5;
  }

  .grid7 {
    order: 7;
  }

  .grid8 {
    order: 8;
  }

  .grid9 {
    order: 10;
  }

  .grid10 {
    order: 9;
  }

  .copyright {
    gap: 100px;
  }
}


@media (max-width: 464px) {

  .footer_nav,
  .copyright,
  .frame__92 {
    flex-direction: column;
    align-items: center;
  }

  .footer_nav_item_div {
    display: none;
  }

  .copyright {
    gap: 52px;
  }
}